<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS tags</title>
</head>

<body>
    <h1>
        <%= title %> <br>
    </h1>
    <h3>Current seconds:<%= seconds %>
    </h3>
    <%if(seconds % 2===0){%>
    <ul>
        <% for(let i=0;i<items.length;i++){ %>
            <li>
                <%= items[i] %>
            </li>
            <% } %>
    </ul>
    <% }else { %>
    <p>No items to display !</p>
    <%}%>
    <p><%- htmlContent %></p>

</body>

<footer>
    <p>Copyright from footer</p>
</footer>

</html>